<% provide(:title, "New Post") %>
<!-- Form for creating new posts -->
<div class="form-group">
  <div class="col-lg-6">
    <%= form_for @post do |f| %>
  		<%= f.label :body, "What's on your mind?" %>
  		<%= f.text_area :body, class: "form-control", :autofocus => true%>
  
  		<%  f.hidden_field :user_id, :value => current_user.id %>

  		<%= f.submit "Post", class: "btn btn-success" %>
  		<%= link_to "Cancel", :back %>
	<% end %>
  </div>
</div>


